body {
    display: flex;
    margin: 0;
    background-image: url('Images/startscreenbackground.jpg');
    background-size: cover;

}
#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    border: 2px solid black;
    display: none;
}

#startButton {
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;

}
    #startButton img {
        height: 200px;
        width: 400px;
    }


#char {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 1000px;
}

    #char div{
        margin: 0;
        height: 200px;
        width: 200px;
    }
    #char img {
        height: 200px;
        width: 200px;
    }

h1{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#replayButton {
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 500px;
    display: none;
}
    #replayButton img {
        height: 200px;
        width: 500px;
    }