html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
    overflow: hidden;

    top: 0;
    left: 0;
}


/* 
#gameCanvas {
    z-index: -1;

}

#startCanvas, #gameCanvas {
    position:absolute;
    top: 0;
    left: 0;
} */
